<h1>{{getMessage()}}</h1>
<button *ngIf="game && game.status != 'Started'"  (click)="startGame()" >Start new Game</button>
<button *ngIf="game && game.status == 'Started' && game.currentRoundEnded"  (click)="startRound()" >Start new Round</button>
<button (click)="getGame()" >Refresh</button>
<div class="header">My Cards</div>  
<hr>
<div>
  <div class="column" *ngFor="let cardType of cardTypes">
    <div *ngFor="let card of myCards[cardType]">
        <a class="card {{card.type}}" (click)="paly(card)">{{getCardDisplay(card)}}</a>
    </div>
  </div>
</div>
<hr>
<div class="header">Players</div>
<hr>
<div *ngFor="let player of game.players">
  <div class="column"><div class="card player">{{player + ' (' + cardCounts[player] + ')'}}</div></div>
  <div class="column"><div class="card" ng-class="!!currentCards[player] ? currentCards[player].type: ''" *ngIf="!!currentCards[player]" >{{getCurrentRoundCard(player)}}</div></div>
</div>




